<body>
    <h1>All City Details</h1>

    <form action="/allCityDetails" method="POST">
    
        <% cities.forEach((city) => 
        { %>
        <label>City Code</label>
        <input type="text" name="code" value="<%= city.cty_code %>"><br>
        <label>City Name</label>
        <input type="text" name="name" value="<%= city.cty_name %>"><br>
        <label>City Population</label>
        <input type="text" name="pop" value="<%= city.population %>"><br>
        <label>By the Sea</label>
        <input type="text" name="sea" value="<%= city.isCoastal %>"><br>
        <label>Area (KM)</label>
        <input type="text" name="area" value="<%= city.areaKM %>"><br>
        <br><br>
        <label>Country Code</label>
        <input type="text" name="country" value="<%= city.co_code %>"><br>
        <label>Country Name</label>
        <input type="text" name="cname" value="<%= city.co_name %>"><br>
    
      </form>
      <% }) %>
      
      <br>
      
      <a href="/">Home</a>
</body>