<a class="btn btn-primary" href="addCountry" role="button">Add Country</a>

<table>
    <tr>
        <th style="border: 2px ridge black;">Country Code</th>
        <th style="border: 2px ridge black;">Country Name</th>
        <th style="border: 2px ridge black;">Country Details</th>
        <th style="border: 2px ridge black;">Actions</th>
        <th style="border: 2px ridge black;">Actions</th>
    </tr>
    <% countries.forEach((country) => { %>
        <tr>
            <td style="border: 2px ridge black;"><%= country.co_code %></td>
            <td style="border: 2px ridge black;"><%= country.co_name %></td>
            <td style="border: 2px ridge black;"><%= country.co_details %></td>
            <td style="border: 2px ridge black;"><a href="/updateCountry/<%= country.co_code %>">Update</a></td>
            <td style="border: 2px ridge black;"><a href="/deleteCountry/<%= country.co_code %>">Delete</a></td>
        </tr>
   <% }) %>
</table>

